TimeLive.ProjectManagement/Service References/SREmployee/EmployeeService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1050/TimeLiveWeb/services/EmployeeService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1050/TimeLiveWeb/services/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1050/TimeLiveWeb/services/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:1050/TimeLiveWeb/services/EmployeeService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EmployeeService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="EmployeeService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="GetEmployees" />
  </wsdl:message>
  <wsdl:message name="EmployeeService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeService_AddAccountProjectTaskEmployee_InputMessage">
    <wsdl:part name="parameters" element="AddAccountProjectTaskEmployee" />
  </wsdl:message>
  <wsdl:message name="EmployeeService_AddAccountProjectTaskEmployee_OutputMessage">
    <wsdl:part name="parameters" element="AddAccountProjectTaskEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="EmployeeService_DeleteAccountProjectTaskEmployee_InputMessage">
    <wsdl:part name="parameters" element="DeleteAccountProjectTaskEmployee" />
  </wsdl:message>
  <wsdl:message name="EmployeeService_DeleteAccountProjectTaskEmployee_OutputMessage">
    <wsdl:part name="parameters" element="DeleteAccountProjectTaskEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeeService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:EmployeeService/DoWork" message="EmployeeService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:EmployeeService/DoWorkResponse" message="EmployeeService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="urn:EmployeeService/GetEmployees" message="EmployeeService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="urn:EmployeeService/GetEmployeesResponse" message="EmployeeService_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccountProjectTaskEmployee">
      <wsdl:input wsaw:Action="urn:EmployeeService/AddAccountProjectTaskEmployee" message="EmployeeService_AddAccountProjectTaskEmployee_InputMessage" />
      <wsdl:output wsaw:Action="urn:EmployeeService/AddAccountProjectTaskEmployeeResponse" message="EmployeeService_AddAccountProjectTaskEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountProjectTaskEmployee">
      <wsdl:input wsaw:Action="urn:EmployeeService/DeleteAccountProjectTaskEmployee" message="EmployeeService_DeleteAccountProjectTaskEmployee_InputMessage" />
      <wsdl:output wsaw:Action="urn:EmployeeService/DeleteAccountProjectTaskEmployeeResponse" message="EmployeeService_DeleteAccountProjectTaskEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>