TimeLive.ProjectManagement/Service References/SREmployee/EmployeeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1050/TimeLiveWeb/services/EmployeeService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfProjectTaskEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectTaskEmployee" nillable="true" type="tns:ProjectTaskEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectTaskEmployee" nillable="true" type="tns:ArrayOfProjectTaskEmployee" />
  <xs:complexType name="ProjectTaskEmployee">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HolidayDays" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="HoursPerDay" type="xs:double" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WorkingDays" nillable="true" type="q2:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectTaskEmployee" nillable="true" type="tns:ProjectTaskEmployee" />
</xs:schema>