TimeLive.ProjectManagement/Service References/SREmployee/EmployeeService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1050/TimeLiveWeb/services/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountProjectId" type="xs:int" />
        <xs:element minOccurs="0" name="AccountProjectTaskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q1:ArrayOfProjectTaskEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountProjectTaskEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountProjectId" type="xs:int" />
        <xs:element minOccurs="0" name="AccountProjectTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="AccountEmployeeId" type="xs:int" />
        <xs:element minOccurs="0" name="AllocationUnits" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccountProjectTaskEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAccountProjectTaskEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountProjectTaskEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountProjectTaskId" type="xs:int" />
        <xs:element minOccurs="0" name="AccountEmployeeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountProjectTaskEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAccountProjectTaskEmployeeResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>