TimeLive.ProjectManagement/Service References/SRProjectTask/TaskService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1050/TimeLiveWeb/services/TaskService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfProjectTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectTask" nillable="true" type="tns:ProjectTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectTask" nillable="true" type="tns:ArrayOfProjectTask" />
  <xs:complexType name="ProjectTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Effort" type="ser:duration" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IndentLevel" type="xs:int" />
      <xs:element minOccurs="0" name="IsAddPermission" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeletePermission" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUpdatePermission" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsViewPermission" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Predecessor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgressPercent" type="xs:double" />
      <xs:element minOccurs="0" name="Resources" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectTask" nillable="true" type="tns:ProjectTask" />
</xs:schema>